@font-face {
    font-family: 'FontinSmallCaps';
    src: url('assets/Fontin-SmallCaps.woff') format('woff');
}

body {
    background: #333;
    margin: 0;
    padding: 20px;
    color: #7f7f7f;
}

.item {
    background: rgba(0, 0, 0, 0.8);
    max-width: 400px;
    margin: 0 auto;
    padding: 8px;
    font-family: "FontinSmallCaps", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.header {
    text-align: center;
    color: #3acac3;
    background-color: rgb(43, 90, 80);
    font-family: 'FontinSmallCaps', Verdana, Arial, sans-serif;
    padding: 8px;
}

.separator {
    height: 15px;
    background-image: url('assets/separator.png');
    background-size: auto 10px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 8px 0;
}

.property {
    padding: 2px 0;
}

.value {
    color: #fff;
}

.desc {
    color: #1ba29b;
}

.explicit {
    color: #88f;
}

.progress {
    width: 100px;
    height: 6px;
    background: rgba(255, 255, 255, 0.356);
    display: inline-flex;
    margin-right: 8px;
}

.progressFill {
    background: #ebc107;
    height: 100%;
}
.itemNote {
    text-align: right;
}
.price {
    background: #414141;
    text-align: center;
    padding: 20px;
}
.currencyImage > img {
    height: 18pt;
}
.currencyImage > * {
    vertical-align: middle;
}

.textCurrency {
    color: #a38d6d;
}